.about {
    font-size: 1.4vw;
    width: 60%;
    margin: auto;

}
.about p {
    padding: 2%;
}

.about .bold {
    font-weight: bolder;

}

/* body.light {
    background-color: rgb(232, 237, 97);
} */


@media all and (max-width: 600px) {
    .about {
        font-size: 3.6vw;
        width: 85%;
    }

    .about p {
        padding: 5%;
    }
}