.icons img {
    max-width: 150px;
    max-height: 300px;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
}


@media all and (max-width: 600px) {
    .icons {
        display: block;
        width: 80%;
        margin: 10% auto auto auto;
        border-radius: 75px;
    }
    .contact {
        height:90vh;
    }

    .email {
        margin-bottom: 10%;
    }
    .contact {
        max-height: fit-content;
    }
}

