@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');



* h1, h3, h2{
  font-family: 'Sora', serif;
  font-weight: 700;
}

* p, a {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
 }
body {
  margin: 0;
}

.light {
  color: rgb(242, 82, 70);
  background-color: rgb(232, 237, 97);
}

.dark {
  background-color: black;
  color: lightgray;
}

